<%= simple_form_for(@restaurant) do |f| %>
  <%= f.error_notification %>

  <div class="form_inputs">
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.input :category %>
  </div>

  <div class="form_actions">
    <%= f.button :submit %>
  </div>
<% end %>
